/**********************

       RESET CSS

**********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #fff;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 10pt;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************

   Variable and Class

**********************/
@page {
  size: A4;
}

:root {
  --blue-deep: #1769aa;
  --blue-primary: #2196f3;
  --blue-light: #4dabf5;
}

section {
  break-after: always;
  width: 210mm;
  height: 297mm;
  margin: 0 auto;

  display: flex;
}

section:last-child {
  break-after: auto;
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: var(--blue-deep);
  padding:0 20px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

aside img {
  width: 100%;
  margin: 60px auto 60px;
  display: block;
  border-radius: 50%;
}

.sidebar article {
  margin-bottom: 64px;
}

article h2 {
  text-transform: uppercase;
  margin-bottom: 8px;
}


article .list-item {
margin-bottom: 4px;
}

article.mission-reference .list-item {
  display: flex;
}

article.mission-reference .list-item > * {
  width: 50%;
}

article.mission-reference .list-item > span {
  font-style: normal;
  font-weight: normal;
}

div.container {
  width: 80%;
}