/**********************

       RESET CSS

**********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #fff;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 10pt;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************

   Variable and Class

**********************/
@page {
  size: A4;
}

:root {
  --blue-deep: #093170;
  --blue-primary: #2196f3;
  --blue-light: #4dabf5;
}

section {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  display: flex;
  page-break-after: always;
}

section:last-of-type {
  break-after: auto;
}
div.container {
  width: 80%;
  height: 100%;
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: var(--blue-deep);
  padding:0 20px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

aside img {
  width: 100%;
  margin: 60px auto 60px;
  display: block;
  border-radius: 50%;
}

.sidebar article {
  margin-bottom: 64px;
}

.sidebar h5 {
  text-transform: uppercase;
  margin-bottom: 8px;
}


article .list-item {
margin-bottom: 4px;
}

article.mission-reference .list-item {
  display: flex;
}

article.mission-reference .list-item > * {
  width: 50%;
}

article.mission-reference .list-item > span {
  font-style: normal;
  font-weight: normal;
}


.container.page-1 {
  margin-top: 120px;
}

hr {
  border: 1px solid var(--blue-light);
}

.container .title {
  text-align: center;
}

.container.page-1 h1 {
  font-size: 26pt;
  color: var(--blue-deep);
  font-weight: bold;
  margin-bottom: 24px;
}

.container.page-1 h2 {
  font-size: 16pt;
  color: var(--blue-primary);
  font-weight: bold;
  margin-bottom: 8px;
}
.container.page-1 h3 {
  font-size: 16pt;
  color: var(--blue-primary);
  margin-bottom: 32px;
}

.container.page-1 > div {
  margin-left: 16px;
  margin-bottom: 16px;
}

.container.page-1 h4 {
  font-size: 13pt;
  font-weight: bold;
  background-color: var(--blue-deep);
  border-radius: 32px;
  width: 65%;
  padding: 8px 32px;
  color: white;
  margin-bottom: 24px;
}

.technical-skills article {
  margin-bottom: 16px;
}

.technical-skills h5, .schools h5, .languages h5 {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 4px;
  margin-right: 16px;
  text-transform: uppercase;
  min-width: 72px;
}

.technical-skills ul {
  display: flex;
}

.functional-skills ul, .schools ul, .languages ul {
  padding-left: 16px;
  list-style-type: square;
}

.functional-skills li, .schools li{
 margin-bottom: 8px;
}

.schools h5, .languages h5 {
  float: left;
}

.schools li p {
  float: left;
}

.languages li {
margin-bottom: 8px;
}

.page-2 h3, .page-3 h3 {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 16px;
  display: inline-block;
}
.page-2 h3:not(:last-of-type), .page-3 h3:not(:last-of-type) {
  margin-right: 32px;
}

.page-2 article, .page-3 article {
  margin-bottom: 32px;
}

.page-2 p, .page-3 p {
  margin-left: 16px;
}

.page-2 ul, .page-3 ul {
  margin-left: 32px;
  list-style-type: square;
  margin-top: 8px;
}

.page-2 li {
  margin-bottom: 8px;
}

.page-2 li::marker, .page-3 li::marker {
  color: var(--blue-primary);
}

.page-2 h4, .page-3 h4 {
  font-weight: bold;
  margin-left: 16px;
}

.page-2 h5, .page-3 h5 {
  color: var(--blue-deep);
  margin-bottom: 8px;
  margin-left: 16px;
  font-weight: bold;
}

.page-2 .technical-environment, .page-3 .technical-environment {
  color: var(--blue-light);
  margin-bottom: 4px;
}

.page-3 li {
  margin-bottom: 8px;
}

.page-3 .list-item-wrapper {
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
}
.page-3 h6 {
  margin-right: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
img.github {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
