
section {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  display: flex;
  page-break-after: always;
  border: 2px solid var(--blue-deep);
  overflow: hidden;
  position: relative;

  & select {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

section:last-of-type {
  break-after: auto;
}
div.container {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: var(--blue-deep);
  padding:0 20px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

aside img {
  width: 100%;
  margin: 60px auto 60px;
  display: block;
  border-radius: 50%;
}

.sidebar article {
  margin-bottom: 32px;
}

.sidebar h5 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

article .list-item {
margin-bottom: 4px;
}

article.mission-reference .list-item {
  display: flex;
}

article.mission-reference .list-item > .date {
  flex: 0 0 58px;
  margin-right: 5px;
}

article.mission-reference .list-item > span, article.languages .list-item > span {
  font-style: normal;
  font-weight: normal;
}

.sidebar .languages .list-item{
  display: flex;
  column-gap: 10px;
}

.container.page-1 {
  padding-top: 80px;
}

hr {
  border: 1px solid var(--blue-light);
  margin-top: 0;
}

.container .job-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.job-title h3 {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 16px;
  display: inline-block;
}

.page-1 p, .page-2 p {
  margin-left: 16px;
}

.container .title {
  text-align: center;
}

.title-container h1 {
  font-size: 26pt;
  color: var(--blue-deep);
  font-weight: bold;
  margin-bottom: 24px;
}

.title-container h2 {
  font-size: 16pt;
  color: var(--blue-primary);
  font-weight: bold;
  margin-bottom: 8px;
}

.title-container h3 {
  font-size: 16pt;
  color: var(--blue-primary);
  margin-bottom: 4px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

img.github, .linkedin, .email, .call  {
  width: 34px;
  height: 34px;
}
.logo-container > a:not(:last-of-type) {
  margin-right: 8px;
}

.container.page-1 > div:not(.logo-container) {
  margin-left: 16px;
  margin-bottom: 16px;
}

.container ul {
  margin-left: 32px;
  list-style-type: square;
  margin-top: 8px;
}

.container li {
  margin-bottom: 8px;
}

.container li::marker {
  color: var(--blue-primary);
}

.container h4 {
  font-weight: bold;
  margin-left: 16px;
}

.container h5 {
  color: var(--blue-deep);
  margin-bottom: 8px;
  margin-left: 16px;
  font-weight: bold;
}

.technical-skills article {
  margin-bottom: 16px;
}

.technical-skills h5, .schools h5{
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 4px;
  margin-right: 16px;
  text-transform: uppercase;
  min-width: 72px;
}

.container > article:not(.job-title) {
  margin-bottom: 32px;
}

.page-2 p, .page-3 p {
  margin-left: 16px;
}

.container .technical-environment {
  color: var(--blue-light);
  margin-bottom: 4px;
}

.list-item-wrapper {
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
}

.github-small {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}
.container h6 {
  margin-right: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container.page-3 h4 {
  font-size: 13pt;
  font-weight: bold;
  background-color: var(--blue-deep);
  border-radius: 32px;
  width: 65%;
  padding: 8px 32px;
  color: white;
  margin-bottom: 24px;
}

.school-row {
  display: flex;
}

footer {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin-top: 32px;
}